*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefae0;
  font-family: sans-serif;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.menu {
position: static;
background-color: #40916c;
text-align: center;


}

.menu.affix {
  position: fixed;
}

.menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  
}

.active, .menu ul li:hover {
  background: #52b788;
  border-radius: 30px;
}

.menu .fa {

  margin-right: 7px;

}

.sub-menu-1 {
  display: none;
}

.menu ul li:hover .sub-menu-1  {
  display: block;
  position: absolute;
  background: #52b788;
  margin-top: 15px;
  margin-left: -15px;
  border-radius: 30px;
}

.menu ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu ul li:hover .sub-menu-1 ul last-child {
  border-bottom: none;

}

.menu ul li:hover .sub-menu-1 ul li a:hover {
  color: #232d60;
}

.inicio {
  margin-left: 10%;
}

.inicio h1{
   font-size: 40px;
   font-weight: 100;
   margin-top: 24px;
   margin-bottom: 15px;
   color: #43291f;
}

.inicio p{
  font-size: 30px;
  color: #43291f;
}

h2 {
  font-size: 40px;
  color: #43291f;

  border-radius: 10px;
 
  align-content: center;
  margin-left: 400px;
}



h3 {
  font-size: 20px;
  color: #387a5b;
  margin: none;
  cursor: pointer;


  
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #347565;
  font-size: 22px;
  border-radius: 0px 20px;
}

.sidebar ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  line-height: 110px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  transition: .4s;

}

 .sidebar ul li:hover a {
   padding-left: 50px;
 }

 .sidebar ul a i{
   margin-right: 16px;
 }

 .produtos {
   background-color: #ece9d1;
   height: 1000px;
   width:fit-content;
   border-radius: 20px;
   padding: 50px;
   display: block;

 }

img {
  border-color: white;
  border-width: 8px;
  border-style:solid ;
  border-radius: 15px;
  cursor: pointer;
  
}

